{% extends 'base.html.twig' %}

{% block body %}
    <table id="myTable" class="display w-50">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for node in results %}
            <tr>
                <td>{{ node.getId() }}</td>
                <td>{{ node.getType() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}